<div class="container">
	<div class="row">
	<div class="col-xs-2"></div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h2><%= t('terms.terms_header') %></h2>
			<h5><%= t('terms.terms_text') %></h5>
		</div>
	</div>
</div>